### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
# media/
staticfiles/
data/
apps/*/migrations/[0-1000]*.py
CACHE/
node_modules/
package-lock.json
testing_data.json
Pipfile.lock
# Backup files # 
*.bak
ssl/
.venv
.env