{% extends '_base.html' %}
{% block title %}Choose License Type{% endblock title %}
{% block content %}

    <div class="justify-self-center">
        <c-h2 title="Choose license type" />
    </div>
    <br>
    <div>
        {% for type in license_types %}
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
                <a href="{% url 'exam:choose_questionnaire' type.id %}"
                   class="relative block overflow-hidden rounded-lg border border-gray-300 hover:shadow-xl hover:shadow-gray-300 dark:hover:shadow-gray-500 p-4 sm:p-6 lg:p-8">
                    <span
                        class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-gray-500 via-amber-500 to-yellow-600"></span>

                    <div class="sm:flex sm:justify-between sm:gap-4">
                        <div>
                            <h3 class="text-lg font-bold sm:text-xl">
                                {{ type }}
                            </h3>
                        </div>
                    </div>

                    <div class="mt-4">
                        <p class="text-pretty text-sm">
                            {{ type.description }}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}