{% extends "_base.html" %}

{% block title %}{{ questionnaire.title|upper }}{% endblock title %}

{% block content %}

    <div class="capitalize">
        <c-h2 title="{{ questionnaire.title }}" />
    </div>
    <form method="post">
        {% csrf_token %}

        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right">
                <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Question
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Answer
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for answer in answers %}
                        <tr class="bg-white border-b border-sky-900 dark:bg-gray-800 dark:border-gray-700 h-10">
                            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                                {{ answer.question.question }} {% if answer.question.image %}<span> <img
                                    src="{{ answer.question.image.url }}" alt=""></span>{% endif %}
                            </th>
                            <td class="px-6 py-4 bg-green-50 border-l">
                                {% if answer.response.image %}<img src="{{ answer.response.image.url }}"
                                                                   alt="">{% else %}{{ answer.response.text }}{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <c-button type="submit" label="Submit" />

    </form>

{% endblock %}