{% extends '_base.html' %}
{% block title %}About{% endblock title %}
{% block content %}

<c-h2 title="About Us" />

<div class="pl-5 py-5 text-sm md:text-base">
    <div class="md:pl-5">
        <p>
            Welcome to the Learners License Mock Exam Simulator!

            This project is an open-source initiative inspired by <a href="https://www.frans-nekongo.com/"
                class="text-yellow-600 hover:underline">Frans Nekongo</a>'s
            <a href="https://namibianlearnerstest.netlify.app/tests" class="text-yellow-600 hover:underline">Namibia
                Learners Licence</a>. It is tailored to help aspiring drivers evaluate their competency before taking
            the official learners license examination. By providing a simulated exam experience, this tool aims to boost
            confidence and preparedness.
        </p>
    </div>

    <div class="md:pl-5 py-5">
        <c-h3 title="What We Offer" />
        <div class="pl-10">
            <li>Mock Exams: Realistic practice tests designed to mirror the actual learners license examination.</li>
            <li>Progress Tracking: Keep tabs on your performance and improvement over time.</li>
            <li>Interactive Experience: Seamlessly integrated with the latest web technologies for an engaging user
                experience.
            </li>
        </div>
    </div>

    <div class="md:pl-5 py-5">
        <c-h3 title="Technology Stack" />

        Our simulator is built using:
        <div class="pl-10">
            <li> <span class="font-bold"><a href="https://www.djangoproject.com/"
                        class="text-yellow-600 hover:underline">Django</a>:</span> A robust backend framework powering
                the core functionality.</li>

            <li> <span class="font-bold"><a href="https://htmx.org/"
                        class="text-yellow-600 hover:underline">HTMX</a>:</span> For smooth and interactive page updates
                without full reloads.</li>

            <li> <span class="font-bold"><a href="https://alpinejs.dev/"
                        class="text-yellow-600 hover:underline">Alpine.js</a>:</span> Lightweight JavaScript to handle
                dynamic behaviours and responsive design.</li>

            <li> <span class="font-bold"><a href="https://tailwindcss.com/"
                        class="text-yellow-600 hover:underline">TailwindCSS</a>:</span> An expressive open-Source CSS
                framework.</li>
        </div>
    </div>


    <div class="md:pl-5 py-5">
        <p>
            We are dedicated to making learning accessible and effective for everyone. Whether you're a first-time test
            taker or brushing up on your knowledge, our simulator is here to support you every step of the way.

            Feel free to contribute to our project and help us improve! Together, we can make the road to safe driving
            easier for all.
        </p>
    </div>

    <div class="md:pl-5 py-5">
        <c-h3 title="Get Started Today!" />
        <p>Explore the Simulator Developed with passion for learners.</p>
    </div>
</div>

{% endblock content %}