{% extends '_base.html' %}
{% load static %}
{% block title %}NatisMock{% endblock title %}


{% block extracss %}
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" crossorigin="anonymous">
{% endblock extracss %}


{% block extrajs %}
    <script src="{% static 'js/charts.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
{% endblock extrajs %}

{% block content %}

    <main class="hidden xl:relative xl:min-h-5/6 xl:flex xl:flex-col xl:justify-between xl:overflow-hidden">
        <div class="w-full max-w-6xl mx-auto px-4 md:px-6 pt-24">
            <div class="text-center">

            <!-- Sliding Text animation -->
                <div class="font-extrabold text-3xl md:text-4xl [text-wrap:balance] bg-clip-text">
                    All you need to do is <span
                        class="text-yellow-500 inline-flex flex-col h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))] overflow-hidden">
                        <ul class="block animate-text-slide-5 text-left leading-tight [&_li]:block">
                            <li>read the manual</li>
                            <li>take the mock exams</li>
                            <li>register at Natis for the exam</li>
                            <li>pass and celebrate!</li>
                            <li>share with your friends and family</li>
                            <li aria-hidden="true" hidden>read the manual</li>
                        </ul>
                    </span></div>
            <!-- End: Sliding Text animation -->

            </div>

        </div>
    </main>

    <div class="xl:hidden pl-5 py-5">
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
            <li class="mb-10 ms-6">
                <span
                    class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-yellow-900">
                <!-- <p class="text-yellow-800 dark:text-yellow-300" aria-hidden="true">1</p> -->
                    <p class="text-yellow-800 dark:text-yellow-300" aria-hidden="true">1</p>
                </span>
                <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Read the manual <span
                    class="bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300 ms-3">Latest</span>
                </h3>

            </li>
            <li class="mb-10 ms-6">
                <span
                    class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-yellow-900">
                    <p class="text-yellow-800 dark:text-yellow-300" aria-hidden="true">2</p>
                </span>
                <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Take the mock exams</h3>
            </li>
            <li class="mb-10 ms-6">
                <span
                    class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-yellow-900">
                    <p class="text-yellow-800 dark:text-yellow-300" aria-hidden="true">3</p>
                </span>
                <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Register at Natis for the exam</h3>
            </li>
            <li class="mb-10 ms-6">
                <span
                    class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-yellow-900">
                    <p class="text-yellow-800 dark:text-yellow-300" aria-hidden="true">4</p>
                </span>
                <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Pass and celebrate!</h3>
            </li>
            <li class="mb-10 ms-6">
                <span
                    class="absolute flex items-center justify-center w-6 h-6 bg-yellow-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-yellow-900">
                    <p class="text-yellow-800 dark:text-yellow-300" aria-hidden="true">5</p>
                </span>
                <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Share with your friends and family.
                </h3>
            </li>
        </ol>
    </div>

<!-- Tickets table -->
    {% if fines %}
        <div class="flex w-full flex-col gap-4 text-on-surface dark:text-on-surface-dark lg:mt-20 mb-20 hidden md:block">
            <div x-data="{ isExpanded: false }"
                 class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50">
                <button id="controlsAccordionItemOne" type="button"
                        class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75"
                        aria-controls="accordionItemOne" x-on:click="isExpanded = ! isExpanded"
                        x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'"
                        x-bind:aria-expanded="isExpanded ? 'true' : 'false'">
                    How do I get on the bad side of the law?
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2"
                         stroke="currentColor" class="size-5 shrink-0 transition" aria-hidden="true"
                         x-bind:class="isExpanded  ?  'rotate-180'  :  ''">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </button>
                <div x-cloak x-show="isExpanded" id="accordionItemOne" role="region" aria-labelledby="controlsAccordionItemOne"
                     x-collapse>
                    <div class="p-4 text-sm sm:text-base text-pretty">
                        {% include 'fine/table.html' %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
<!-- Tickets table End -->



{% endblock content %}

{% block scripts %}

{% endblock scripts %}