{% extends '_base.html' %}
{% block title %}Licensing and Contributions{% endblock title %}
{% block content %}


    <c-h2 title="Licensing and Contributions" />

    <div class="pl-5 py-5">
        <c-h3 title="Licensing" />
        <div class="md:pl-5 py-5">
            <p>
                This project is open-source and freely available for everyone to use, modify, and distribute. You are
                welcome to fork and utilise it in any way that suits your needs, whether for personal projects, educational
                purposes, or broader implementations. We believe in the power of open collaboration to drive innovation and
                accessibility.
            </p>
        </div>

        <c-h3 title="Contributing to the Project" />
        <div class="md:pl-5 py-5">
            We warmly welcome contributions to make this project even better. If you’d like to contribute, here’s how you
            can get involved:

            <p>1. <span class="font-bold">Fork the Repository:</span> Start by forking the project repository to your own
                GitHub account.</p>

            <p>2. <span class="font-bold">Create a Branch:</span> Work on your changes in a dedicated branch to keep things
                organised.</p>

            <p>3. <span class="font-bold">Commit Your Changes:</span> Make meaningful and descriptive commit messages that
                explain what you’ve done.</p>

            <p>4. <span class="font-bold">Submit a Pull Request:</span> Once your changes are ready, submit a pull request
                for review. We will evaluate and
                consider merging your contributions into the main project.</p>
        </div>

        <c-h3 title="Reporting Issues" />
        <div class="md:pl-5 py-5">
            <p>
                If you encounter any bugs, issues, or have suggestions for improvement, please create an issue on our GitHub
                repository. Make sure to include detailed information to help us understand and address the problem
                effectively.
            </p>
        </div>

        <c-h4 title="Let’s Build Together" />

        <div class="md:pl-5 py-5">
            <p>
                We appreciate your interest and efforts in improving this project. By collaborating, we can ensure that this
                tool becomes even more valuable for learners worldwide.</p>
        </div>
        <br>
        Visit Our <a href="https://github.com/SakariaNdadi/natis" target="_blank"
                     class="text-yellow-600 hover:underline">GitHub
            Repository</a> to get started!

    </div>


{% endblock content %}