{% extends '_base.html' %}
{% block title %}Privacy{% endblock title %}
{% block content %}

<c-h2 title="Privacy Policy" />

<div class="pl-5 py-5">
    <div class="pl-5 py-5">
        <c-h3 title="Introduction" />
        <p>
            This Privacy Policy explains how we collect, use, and protect your information when you visit or use our
            website. As this is a hobby project, we aim to be fully transparent. The complete source code for this
            project
            is available on GitHub for review and community collaboration.
        </p>
    </div>

    <div class="pl-5 py-5">
        <c-h3 title="What Data We Collect" />

        <c-h4 title="1. User-Provided Data:" />

        <li>Information entered into forms, such as during signup or while tracking exams.</li>

        <c-h4 title="2. Automatically Collected Data:" />

        <li>Usage data via Google Analytics, including:</li>

        <li>Device and browser information.</li>

        <li>Location data (general, not precise).</li>

        <li>Behavioural data (e.g., pages visited, time spent on the site).</li>
    </div>

    <div class="pl-5 py-5">
        <c-h3 title="How We Collect Data" />

        <li><span class="font-bold">Forms:</span> When you fill out forms on our website.</li>

        <li><span class="font-bold">Google Analytics:</span> Automated tracking via cookies and similar technologies.
        </li>
    </div>

    <div class="pl-5 py-5">
        <c-h3 title="Why We Collect Data" />

        To create and manage user accounts.

        To track your exam progress and provide personalised features.

        To analyse website usage and improve functionality and user experience.
    </div>

    <div class="pl-5 py-5">
        <c-h3 title="How We Use the Data" />

        <div class="pl-5 py-5">
            <c-h4 title="1. Operational Purposes:" />
            <li>Storing and managing user information for account and exam tracking purposes.</li>
            <c-h4 title="2. Analytics:" />
            <li>Understanding user interactions to improve the website.</li>
        </div>
    </div>

    <div class="pl-5 py-5">
        <c-h3 title="Data Sharing" />

        <div class="pl-10">
            <li>Third-Party Tools:</li>

            <li>We use Google Analytics for tracking and analytics purposes. This service may collect and process your
                data
                as
                per their privacy policies.</li>

            <li>Public Code Repository:</li>

            <li>The source code for this project, which includes its basic data handling mechanisms, is available on
                GitHub.
                However, no personal data from users is stored in or shared via the repository.</li>
        </div>
    </div>

    <div class="pl-5 py-5">
        <c-h3 title="Your Rights" />
        <div class="pl-10">
            <li>You can request delete the data you have provided.</li>
            <li>You can disable cookies in your browser settings to prevent Google Analytics tracking.</li>
        </div>
    </div>

    <div class="pl-5 py-5">
        <c-h3 title="Data Protection" />
        <div class="pl-10">
            We take reasonable measures to protect your data, including:

            <div class="pl-10">
                <li>Limiting access to your data to necessary purposes only.</li>
                <li>Using secure communication protocols (e.g., HTTPS).</li>
            </div>
        </div>
    </div>

    <div class="pl-5 py-5">
        <c-h3 title="Hobby Project Disclaimer" />
        <p>
            This website is a non-commercial hobby project. While we strive to safeguard your data, it is provided
            "as-is"
            without warranty. For full transparency, all project source code is open-sourced on GitHub.
        </p>
    </div>

    <div class="pl-5 py-5">
        <c-h3 title="Contact Information" />
        <p>
            For any questions or concerns about this Privacy Policy, please contact us via the details provided on the
            website.
        </p>
    </div>

    <div class="pl-5 py-5">
        <c-h3 title="Updates to This Policy" />
        <p>
            This Privacy Policy may be updated periodically. Any changes will be reflected on this page with an updated
            revision date.
        </p>
    </div>

</div>
{% endblock content %}