{% extends '_base.html' %}
{% block title %}Privacy{% endblock title %}
{% block content %}

    <c-h2 title="Privacy Policy" />

    <div class="pl-5 py-5">
        <div class="md:pl-5 md:py-5 ">
            <c-h3 title="Introduction" />
            <p>
                This Privacy Policy explains how we collect, use, and protect your information when you visit or use our
                website. As this is a hobby project, we aim to be fully transparent. The complete source code for this
                project is available on <a href="https://github.com/SakariaNdadi/natis" target="_blank"
                                           class="text-yellow-600 hover:underline">GitHub</a> for review and
                community collaboration.
            </p>
        </div>

        <div class="md:pl-5 py-5 ">
            <c-h3 title="What Data We Collect" />

            <div class="md:pl-10">
                <c-h4 title="1. User-Provided Data:" />
                <div class="pl-10">
                    <li>Information entered into forms, such as during signup or while tracking exams.</li>
                </div>
                <c-h4 title="2. Automatically Collected Data:" />
                <div class="pl-10">
                    <li>Usage data via Google Analytics, including:</li>

                    <li>Device and browser information.</li>

                    <li>Location data (general, not precise).</li>

                    <li>Behavioural data (e.g., pages visited, time spent on the site).</li>
                </div>
            </div>
        </div>

        <div class="md:pl-5 py-5 ">
            <c-h3 title="How We Collect Data" />
            <div class="md:pl-10">
                <li><span class="font-bold">Forms:</span> When you fill out forms on our website.</li>

                <li><span class="font-bold">Google Analytics:</span> Automated tracking via cookies and similar
                    technologies.
                </li>
            </div>
        </div>

        <div class="md:pl-5 py-5 ">
            <c-h3 title="Why We Collect Data" />
            <div class="md:pl-10">
                <li>To create and manage user accounts.</li>
                <li>To track your exam progress and provide personalised features.</li>
                <li>To analyse website usage and improve functionality and user experience.</li>
            </div>
        </div>

        <div class="md:pl-5 py-5 ">
            <c-h3 title="How We Use the Data" />

            <div class="pl-5 py-5">
                <c-h4 title="1. Operational Purposes:" />
                <div class="md:pl-10">
                    <li>Storing and managing user information for account and exam tracking purposes.</li>
                </div>
                <c-h4 title="2. Analytics:" />
                <div class="md:pl-10">
                    <li>Understanding user interactions to improve the website.</li>
                </div>
            </div>
        </div>

        <div class="md:pl-5 py-5 ">
            <c-h3 title="Data Sharing" />

            <div class="md:pl-10">
                <li class="font-bold">Third-Party Tools:</li>
                <div class="md:pl-10">
                    <li>We use Google Analytics for tracking and analytics purposes. This service may
                        collect and process
                        your
                        data as per their privacy policies.</li>
                </div>
                <li class="font-bold">Public Code Repository:</li>
                <div class="md:pl-10">
                    <li>The source code for this project, which includes its basic data handling mechanisms, is available on
                        <a href="https://github.com/SakariaNdadi/natis" target="_blank"
                           class="text-yellow-600 hover:underline">GitHub</a>. However, no personal data from
                        users is stored
                        in or shared via the
                        repository.
                    </li>
                </div>
            </div>
        </div>

        <div class="md:pl-5 py-5 ">
            <c-h3 title="Your Rights" />
            <div class="md:pl-10">
                <li>You can request delete the data you have provided.</li>
                <li>You can disable cookies in your browser settings to prevent Google Analytics tracking.</li>
            </div>
        </div>

        <div class="md:pl-5 py-5 ">
            <c-h3 title="Data Protection" />
            <div class="md:pl-10">
                We take reasonable measures to protect your data, including:

                <div class="md:pl-10">
                    <li>Limiting access to your data to necessary purposes only.</li>
                    <li>Using secure communication protocols (e.g., HTTPS).</li>
                </div>
            </div>
        </div>

        <div class="md:pl-5 py-5 ">
            <c-h3 title="Hobby Project Disclaimer" />
            <p class=" md:pl-10">
                This website is a non-commercial hobby project. While we strive to safeguard your data, it is provided
                "as-is" without warranty. For full transparency, all project source code is open-sourced on <a
                    href="http://" class="text-yellow-600 hover:underline">GitHub</a>.
            </p>
        </div>

        <div class="md:pl-5 py-5 ">
            <c-h3 title="Contact Information" />
            <p class=" md:pl-10">
                For any questions or concerns about this Privacy Policy, please contact us via the details provided on the
                website.
            </p>
        </div>

        <div class="md:pl-5 py-5 ">
            <c-h3 title="Updates to This Policy" />
            <p class=" md:pl-10">
                This Privacy Policy may be updated periodically. Any changes will be reflected on this page with an updated
                revision date.
            </p>
        </div>

    </div>
{% endblock content %}