{% load static compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% compress css %}{% endcompress %}
    {% compress js %}
    <script src="{% static 'js/htmx.js' %}"></script>
    <script src="{% static 'js/tailwind.js' %}"></script>
    {% endcompress %}
</head>

<body>
    {% include 'includes/navbar.html' %}
    <main class="p-10">{% block content %}{% endblock content %}</main>
    {% include 'includes/footer.html' %}
</body>

</html>