{% extends '_base.html' %}
{% block title %}Testing{% endblock title %}
{% block content %}
<div class="grid grid-cols-2">
    <div>
        <div
            class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Take Exam</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Test yourself by choose one of the current mock
                exam papers available.</p>
            <a href="{% url 'exam:choose_license_type' %}"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-neutral-700 rounded-lg hover:bg-neutral-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 dark:bg-neutral-600 dark:hover:bg-neutral-700 dark:focus:ring-neutral-800">
                Choose
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
    <div>Something</div>
    <div>Stats</div>
</div>
{% endblock content %}